/* Color Theme Swatches in Hex */
.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-1-hex {
  color: #d9910b;
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-2-hex {
  color: #a67314;
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-3-hex {
  color: #bf5315;
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-4-hex {
  color: #262626;
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-5-hex {
  color: #0d0d0d;
}

/* Color Theme Swatches in RGBA */
.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-1-rgba {
  color: rgba(216, 144, 10, 1);
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-2-rgba {
  color: rgba(165, 114, 19, 1);
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-3-rgba {
  color: rgba(191, 83, 21, 1);
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-4-rgba {
  color: rgba(38, 38, 38, 1);
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-5-rgba {
  color: rgba(12, 12, 12, 1);
}

/* Color Theme Swatches in HSLA */
.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-1-hsla {
  color: hsla(39, 90, 44, 1);
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-2-hsla {
  color: hsla(39, 78, 36, 1);
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-3-hsla {
  color: hsla(22, 80, 41, 1);
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-4-hsla {
  color: hsla(0, 0, 15, 1);
}

.Black-background-with-grunge-texture-decorated-with-Shiny-golden-lines.-black-gold-luxury-background-5-hsla {
  color: hsla(0, 0, 5, 1);
}
