/* Color Theme Swatches in Hex */
.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-1-hex {
    color: #262526;
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-2-hex {
    color: #D9A74A;
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-3-hex {
    color: #402401;
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-4-hex {
    color: #8C623E;
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-5-hex {
    color: #F2D8C2;
}

/* Color Theme Swatches in RGBA */
.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-1-rgba {
    color: rgba(38, 36, 37, 1);
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-2-rgba {
    color: rgba(216, 166, 73, 1);
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-3-rgba {
    color: rgba(63, 35, 1, 1);
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-4-rgba {
    color: rgba(140, 98, 61, 1);
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-5-rgba {
    color: rgba(242, 216, 193, 1);
}

/* Color Theme Swatches in HSLA */
.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-1-hsla {
    color: hsla(326, 2, 14, 1);
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-2-hsla {
    color: hsla(39, 65, 56, 1);
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-3-hsla {
    color: hsla(33, 96, 12, 1);
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-4-hsla {
    color: hsla(28, 38, 39, 1);
}

.flat-lay-of-a-bottle-of-champagne-with-crystal-glasses-confetti,
-baubles-and-straws-on-a-black-background-5-hsla {
    color: hsla(28, 65, 85, 1);
}